  .log-in-form 
  {
  margin-top:50px;
  border: 1px solid #cacaca;
  padding: 30px 30px !important;
  border-radius: 3px; 
  }

span.notification
{
	line-height: 1.7; 
	right:-2px;
	top:-2px; 
	position: relative; 
	margin-bottom: -10px;
}